{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules" : {
    "linebreak-style": ["error", (process.platform === "win32" ? "windows" : "unix")],
    "linebreak-style": 0
  } 
}
